<li class="menu-item dropdown">
    <a href="#">Alignment</a>
    <ul class="dropdown-menu">
    <li class="dropdown-menu-item"><a href="#">Routesheet</a></li>
    <li class="dropdown-menu-item"><a href="#">Summary</a></li>
    <li class="dropdown-menu-item"><a href="#">Inspection Totals</a></li>
    <li class="dropdown-menu-item"><a href="#">All Site Totals</a></li>
    </ul>
</li>