<li class="menu-item dropdown">
    <a href="#">Application Settings</a>
    <ul class="dropdown-menu">
    <li class="dropdown-menu-item"><a href="users">User</a></li>
    <li class="dropdown-menu-item"><a href= "sites">Sites</a></li>
    <li class="dropdown-menu-item"><a href= "app/views/assets">Assets</a></li>
    </ul>
</li>