<li class="menu-item dropdown">
    <a href="#">Asset Management</a>
    <ul class="dropdown-menu">
    <li class="dropdown-menu-item"><a href="#">Asset Manager</a></li>
    <li class="dropdown-menu-item"><a href="#">Inspection Frequency</a></li>
    <li class="dropdown-menu-item"><a href="#">Asset Categories</a></li>
    <li class="dropdown-menu-item"><a href="#">Pump Stations</a></li>
    <li class="dropdown-menu-item"><a href="#">Route Manager</a></li>
    </ul>
</li>