<li class="menu-item dropdown">
    <a href="#">Maximo CMMS</a>
    <ul class="dropdown-menu">
    <li class="dropdown-menu-item"><a href="#">Work Orders</a></li>
    <li class="dropdown-menu-item"><a href="#">Assets</a></li>
    <li class="dropdown-menu-item"><a href="#">Job Plans</a></li>
    <li class="dropdown-menu-item"><a href="#">Maximo Asset Number</a></li>
    <li class="dropdown-menu-item"><a href="#">Search Maximo</a></li>
    <li class="dropdown-menu-item"><a href="#">Pull Asset Updates</a></li>
    <li class="dropdown-menu-item"><a href="#">Asset Finder</a></li>
    </ul>
</li>