<li class="menu-item dropdown">
    <a href="#">Motion</a>
    <ul class="dropdown-menu">
        <li class="dropdown-menu-item"><a href="#">Analysis</a></li>
        <li class="dropdown-menu-item"><a href="#">Reports</a></li>
        <li class="dropdown-menu-item"><a href="#">Routesheet</a></li>
        <li class="dropdown-menu-item"><a href="#">Inspection Totals</a></li>
    </ul>
</li>