<li class="menu-item dropdown">
    <a href="#">Testing</a>
    <ul class="dropdown-menu">
    <li class="dropdown-menu-item"><a href="screenshot#index">Screenshot</a></li>
    <li class="dropdown-menu-item"><a href="imageupload#index">Image Upload</a></li>
    <li class="dropdown-menu-item"><a href="database_poll#index">Database Poll</a></li>
     <li class="dropdown-menu-item"><a href="sites#index">Site Assets</a></li>
    </ul>
</li>