<li class="menu-item dropdown">
    <a href="#">   Thermography   </a>
    <ul class="dropdown-menu">
    <li class="dropdown-menu-item"><a href="#">Create Report</a></li>
    <li class="dropdown-menu-item"><a href="#">Review Reports</a></li>
    <li class="dropdown-menu-item"><a href="#">IR Routesheet</a></li>
    <li class="dropdown-menu-item"><a href="#">Annual Summary</a></li>
    <li class="dropdown-menu-item"><a href="#">Print Inspection Stickers</a></li>
    <li class="dropdown-menu-item"><a href="#">Inspection Totals</a></li>
    <li class="dropdown-menu-item"><a href="#">Arc Flash Ratings</a></li>
    <li class="dropdown-menu-item"><a href="#">All Site Totals</a></li>
    </ul>
</li>