<li class="menu-item dropdown">
    <a href="#">UAV</a>
    <ul class="dropdown-menu">
    <li class="dropdown-menu-item"><a href="#">Create Report</a></li>
    <li class="dropdown-menu-item"><a href="#">Review Report</a></li>
    <li class="dropdown-menu-item"><a href="#">Summary Report</a></li>
    <li class="dropdown-menu-item"><a href="#">Report Email Status</a></li>
    </ul>
</li>