<li class="menu-item dropdown">
    <a href="#">Vibration</a>
    <ul class="dropdown-menu">
    <li class="dropdown-menu-item"><a href="#">Analysis</a></li>
    <li class="dropdown-menu-item"><a href="#">Route</a></li>
    <li class="dropdown-menu-item"><a href="#">Reports</a></li>
    <li class="dropdown-menu-item"><a href="#">Totals</a></li>
    <li class="dropdown-menu-item"><a href="#">Settings</a></li>
    </ul>
</li>