<%= render partial: 'layouts/menus/menu_bar' %>
<div class="video-background">
  <video class="w-100 video-shorter" id="myVideo" autoplay muted>
    <source src="https://drive.google.com/uc?export=download&id=1jWG8gWAu7zUItNt7MRuVWEyGkWejlaq4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>


<div class="jumbotron jumbotron-fluid text-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 offset-md-3 text-center">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="glide-up-text">
          <h1 class="display-3">Welcome to PARTS 2.25</h1>
          <p class="lead">Predictive Analysis Reporting and Tracking System</p>
        <!--hr class="my-4"> </-->
          <p>Proof of Concept for a web-based PARTS application</p>
        </div>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="screenshot#index" role="button">Test Screenshot</a>
          <a class="btn btn-primary btn-lg" href="sites#index" role="button">Test Lookup</a>
        </p>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var video = document.getElementById("myVideo");
    video.addEventListener("loadedmetadata", function() {
      video.playbackRate = 1; // Adjust the playback speed here (0.5 means half speed)
      video.play();
    });
});

document.addEventListener("DOMContentLoaded", function() {
  var glideUpText = document.querySelector(".glide-up-text");
  glideUpText.classList.add("show");
});

</script>

