<h1>Welcome to the Screenshot Test Page </h1>
<p>Find me in app/views/screenshot/index.html.erb</p>

<head>
  <%= csrf_meta_tags %>
  <meta name="csrf-token" content="<%= form_authenticity_token %>">
  <%= javascript_include_tag 'token' %>
  <script>
    $.ajaxSetup({
      headers: {
        'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
      }
    });
  </script>
</head>

<button id="screencap">Take Screenshot</button>

<script>
  document.getElementById('screencap').addEventListener('click', function() {
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/capture', true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
    xhr.onreadystatechange = function() {
      if (xhr.readyState === 4) {
        console.log(xhr.responseText);
      }
    };
    xhr.send(JSON.stringify({}));
  });
</script>
