<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    function toggleMenu() {
      if ($(window).width() < 768) { // Adjust the breakpoint as needed
        $('#navbarMenu2').collapse('hide');
      } else {
        $('#navbarMenu2').collapse('show');
      }
    }

    toggleMenu(); // Initial check on page load

    $(window).on('resize', function() {
      toggleMenu(); // Check on window resize
    });
  });
</script>

<nav class="navbar navbar-expand-lg navbar-med bg-med">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu2" aria-controls="navbarMenu2" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarMenu2">
    <ul class="navbar-nav">
      Vibration -  
      <li class="nav-item">
        <a class="nav-link" href="#">Route</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Analysis</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Reports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Totals</a>
      </li>
    </ul>
  </div>
</nav>