@import "bootstrap";

.image-shorter {
    height: 500px; /* Adjust the height value as needed */
  }

  .video-shorter {
    height: 800px; /* Adjust the height value as needed */
  }
  
  .gif-shorter {
    max-height: 500px; /* Adjust the height value as needed */
  }
  